<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title = 'Bazaar')">

</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container main-content">

    <div th:switch="${fruitons.isEmpty()}">
        <div th:case="${true}">
            <div class="jumbotron">
                <h2>You have no fruiton eligible for selling :(</h2>
                <p>Play some games to win some :)</p>
            </div>
        </div>

        <div th:case="${false}">
            <div class="row">
            <form th:object="${formModel}" method="post" data-toggle="validator"
                  th:attr="oninput='profit.value = Math.trunc(price.valueAsNumber * '
                      + ${T(cz.cuni.mff.fruiton.service.game.bazaar.BazaarService).PROFIT} + ')'">

                <div class="form-group">
                    <select class="form-control" th:field="*{fruitonId}" id="fruiton">
                        <option th:each="fruiton : ${fruitons}" th:text="${fruiton.name}"
                                th:value="${fruiton.dbId}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <input id="price" type="number" class="form-control" th:field="*{price}" min="1" value="1"
                           placeholder="Price" required="required" />
                </div>
                <div style="margin-bottom: 15px;">
                    <span>Profit: </span><output style="display: inline; color: #017c01;" name="profit" for="price"></output>
                </div>

                <div class="form-group"><button type="submit" class="btn btn-primary">Submit</button></div>
            </form>
            </div>

        </div>
    </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>