<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>

    </head>
    <body>

        <footer th:fragment="footer" class="footer">
            <div class="container">
                <span class="text-muted">
                    <b>Fruitons game</b>
                    by
                    <a href="mailto:prakmff@gmail.com">Fruiton team</a>
                </span>
            </div>

            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                    crossorigin="anonymous"></script>
            <script src="https://apis.google.com/js/platform.js?onload=onGoogleApiLoaded" async="async" defer="defer"></script>

            <script th:src="@{/js/validator.js}"></script>

        </footer>

    </body>
</html>