<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">

    <title th:text="${title}"></title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="google-signin-client_id" content="827606142557-f63cu712orq80s6do9n6aa8s3eu3h7ag.apps.googleusercontent.com" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link type="text/css" th:href="@{/css/fileinput.min.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/sticky-footer.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/styles.css}" rel="stylesheet"/>

</head>
<body>

</body>
</html>