<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li th:classappend="${#httpServletRequest.getRequestURI().contains('/home') ? 'active':''}">
                    <a th:href="@{/home}">Home</a>
                </li>
                <li th:classappend="${#httpServletRequest.getRequestURI().contains('/ladder') ? 'active':''}">
                    <a th:href="@{/ladder}">Game ladder</a>
                </li>
                <li th:classappend="${#httpServletRequest.getRequestURI().contains('/achievements') ? 'active':''}">
                    <a th:href="@{/achievements}">Achievements</a>
                </li>
                <li th:classappend="${#httpServletRequest.getRequestURI().contains('/auction') ? 'active':''}">
                    <a th:href="@{/auction}">Auction</a>
                </li>
                <li th:classappend="${#httpServletRequest.getRequestURI().contains('/settings') ? 'active':''}">
                    <a th:href="@{/settings}">Settings</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" onclick="signOut();">Log out</a></li>
            </ul>
        </div>
    </div>

    <script th:inline="javascript">
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            if (auth2) {
                auth2.signOut().then(function () {
                    console.log('Google user signed out.');
                });
            }

            window.location.href = /*[[@{/logout}]]*/ ''; // ordinary spring logout
        }

        $(document).ready(function() { // auth need to be initialized if no google sign in button is on the page
            gapi.load('auth2', function() {
                gapi.auth2.init();
            });
        });

    </script>

</nav>

</body>
</html>