<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title = 'Achievements')">

</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container main-content">

    <div th:each="status, idx : ${achievementStatuses}">

        <div th:classappend="${idx.count % 6 == 0 ? 'row' : ''}">

            <div class="col-sm-2">
                <div class="thumbnail">
                    <img th:class="${status.unlocked ? '' : 'grayscale'}"
                         th:src="@{'/img/achievement/' + ${status.achievement.image}}" alt="Achievement image"
                         style="width:100%"/>
                    <div class="caption">
                        <div th:if="${status.achievement.isProgressAchievement()}" class="progress"
                             th:switch="${status.unlocked}">
                            <div th:case="${true}" class="progress-bar" role="progressbar"
                                 th:attr="aria-valuenow=${status.achievement.goal},aria-valuemax=${status.achievement.goal}"
                                 aria-valuemin="0" style="width: 100%;">
                                <span th:text="${status.achievement.goal} + '/' + ${status.achievement.goal}"></span>
                            </div>

                            <div th:case="${false}" class="progress-bar" role="progressbar"
                                 th:attr="aria-valuenow=${status.progress},aria-valuemax=${status.achievement.goal}"
                                 aria-valuemin="0"
                                 th:style="'width: ' + ${100.0 * status.progress / status.achievement.goal} + '%;'">
                                <span th:text="${status.progress} + '/' + ${status.achievement.goal}"></span>
                            </div>
                        </div>
                        <div class="text-center">
                            <strong><span th:text="${status.achievement.name}"></span></strong><br/>
                            <span th:text="${status.achievement.description}"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>