<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title = 'Collection')">

</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container main-content">

    <div th:each="fruiton, idx : ${fruitons}">

        <div th:classappend="${idx.count % 6 == 0 ? 'row' : ''}">

            <div class="col-sm-2">
                <a th:href="@{/collection/fruiton(id=${fruiton.id})}" class="thumbnail" th:switch="${fruiton.type}">

                    <img th:case="${T(cz.cuni.mff.fruiton.service.game.FruitonService.FruitonType).KING}"
                         class="fruiton-type" th:src="@{/img/fruiton/type/king_64.png}" />

                    <img th:case="${T(cz.cuni.mff.fruiton.service.game.FruitonService.FruitonType).MAJOR}"
                         class="fruiton-type" th:src="@{/img/fruiton/type/major_64.png}" />

                    <img th:case="${T(cz.cuni.mff.fruiton.service.game.FruitonService.FruitonType).MINOR}"
                         class="fruiton-type" th:src="@{/img/fruiton/type/minor_64.png}" />

                    <img th:src="@{'/img/fruiton/' + ${fruiton.model} + '.png'}" th:alt="${fruiton.model}"
                         style="width:100%"/>
                    <div class="caption">
                        <div class="text-center">
                            <strong><span th:text="${fruiton.name}"></span></strong><br/>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>