<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head(title = 'Downloads')">

</head>
<body>

<div sec:authorize="isAuthenticated()">
    <nav th:replace="fragments/navbar :: navbar"></nav>
</div>

<div sec:authorize="isAnonymous()">
    <nav th:replace="fragments/navbarWithBackButton :: navbar-with-back-button"></nav>
</div>

<div class="container main-content">

    <div class="row">
        <h2>Download</h2>
        <hr/>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Android</h3>
            <a href="https://play.google.com/store/apps/details?id=com.Fruiton.Fruitons">
                <img alt="Get it on Google Play" style="width: 300px;"
                     src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"/>
            </a>
        </div>

        <div class="col-md-6">
            <h3>Other releases</h3>
            <ul th:each="release : ${releases}">
                <li><a th:text="${release}" th:href="@{/releases/{path}(path=${release})}"></a></li>
            </ul>
        </div>
    </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>