<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title = 'Fruiton detail')">

</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container main-content">

    <div class="jumbotron">

        <h2 th:text="${fruiton.name}"></h2>

        <img th:src="@{'/img/fruiton/' + ${fruiton.model} + '.png'}" style="max-width: 256px;" class="thumbnail"
             th:alt="${fruiton.model}" />

        <h3>Attributes</h3>

        <h4>Type</h4>
        <p th:text="${fruiton.type}"></p>

        <h4>Attack</h4>
        <p th:text="${fruiton.damage}"></p>

        <h4>Health</h4>
        <p th:text="${fruiton.hp}"></p>

        <h4>Attack</h4>
        <p th:text="${fruiton.attack}"></p>

        <h4>Movement</h4>
        <p th:text="${fruiton.movement}"></p>

        <h4>Abilities</h4>
        <p th:text="${fruiton.abilities}"></p>

        <h4>Effects</h4>
        <p th:text="${fruiton.effects}"></p>

        <h4>Immunities</h4>
        <p th:text="${fruiton.immunities}"></p>

    </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>