<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title = 'Fruiton detail')">

</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container main-content">

    <div class="jumbotron">
      	<div style="width: 50%; float:left">

        	<h1 th:text="${fruiton.name}"></h1>

        	<img th:src="@{'/img/fruiton/' + ${fruiton.model} + '.png'}" style="max-width: 256px;" class="thumbnail"
             th:alt="${fruiton.model}" />
		</div>
        <div style="width: 50%; float:right">
          <h3>Type</h3>
          <p th:text="${fruiton.type}"></p>

          <h3>Attack</h3>
          <p th:text="${fruiton.damage}"></p>

          <h3>Health</h3>
          <p th:text="${fruiton.hp}"></p>

          <h3>Attack</h3>
          <p th:text="${fruiton.attack}"></p>

          <h3>Movement</h3>
          <p th:text="${fruiton.movement}"></p>

          <h3>Abilities</h3>
          <p th:text="${fruiton.abilities}"></p>

          <h3>Effects</h3>
          <p th:text="${fruiton.effects}"></p>

          <h3>Immunities</h3>
          <p th:text="${fruiton.immunities}"></p>
		</div>

    </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
