<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title = 'Fruiton detail')">

</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container main-content">

    <div class="row text-center">
        <h2 th:text="${fruiton.name}"></h2>
        <hr/>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <img th:src="@{'/img/fruiton/' + ${fruiton.model} + '.png'}" style="max-width: 256px;"
                 class="thumbnail pull-right-sm"
                 th:alt="${fruiton.model}"/>
        </div>

        <div class="col-sm-6">

            <h3>Type</h3>
            <p th:text="${fruiton.type}"></p>

            <h3>Damage</h3>
            <p th:text="${fruiton.damage}"></p>

            <h3>Health</h3>
            <p th:text="${fruiton.hp}"></p>

            <h3>Attack</h3>
            <p th:text="${fruiton.attack}"></p>

            <h3>Movement</h3>
            <p th:text="${fruiton.movement}"></p>

            <div th:if="${!fruiton.abilities.isEmpty()}">
                <h3>Abilities</h3>
                <p th:text="${fruiton.abilities}"></p>
            </div>

            <div th:if="${!fruiton.effects.isEmpty()}">
                <h3>Effects</h3>
                <p th:text="${fruiton.effects}"></p>
            </div>

            <div th:if="${!fruiton.immunities.isEmpty()}">
                <h3>Immunities</h3>
                <p th:text="${fruiton.immunities}"></p>
            </div>

        </div>

    </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>