<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title = 'Login')">

</head>
<body>

<div class="container main-content">

    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title text-center">Fruitons</div>
            </div>

            <div class="panel-body">

                <div th:if="${showRenewPasswordInfo}" class="alert alert-info">
                    <strong>Incorrect password!</strong> You can renew your password at
                    <a th:href="@{/renewPassword}">password renewal page</a>.
                </div>

                <form name="form" id="form" class="form-horizontal validated-form" enctype="multipart/form-data"
                      method="POST" data-toggle="validator" th:action="@{/}">

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="user" type="text" class="form-control" name="username" value="" placeholder="Login"
                                   pattern="^[_A-z0-9]{4,}$" required="required"
                                   data-pattern-error="Minimum of 4 alphanumeric characters"
                                   data-remote-error="User with given login does not exist"
                                   th:attr="data-remote=@{/api/player/isLoginUsed}"
                                   autofocus="autofocus" maxlength="50" />
                        </div>

                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" class="form-control" name="password" placeholder="Password"
                                   data-minlength="6" required="required" maxlength="50" />
                        </div>

                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 controls">
                            <a th:href="@{/register}" class="btn btn-default pull-left">
                                <i class="glyphicon glyphicon-user"></i> Register
                            </a>
                            <button type="submit" class="btn btn-primary pull-right">
                                <i class="glyphicon glyphicon-log-in"></i> Log in
                            </button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
        <div class="divider">
            <hr class="left"/><span>or</span><hr class="right" />
        </div>

        <div class="g-signin2" data-onsuccess="onSignIn"></div>

    </div>

</div>

<form id="googleSubmitForm" th:action="@{/api/loginGoogleWeb}">
    <input name="idToken" type="hidden" />
</form>

<footer th:replace="fragments/footer :: footer"></footer>

<script>
    function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;

        $('input[name="idToken"]').val(id_token);

        $('#googleSubmitForm').submit();
    }
</script>

</body>
</html>