<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title = 'Settings')">

</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container main-content">

    <div class="row">

    <form id="editProfileForm" data-toggle="validator" enctype="multipart/form-data" class="form-horizontal" method="POST"
          th:object="${editProfileForm}" th:action="@{/settings/edit(id = ${user.id})}">

        <!-- profile picture column -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                <img th:src="@{'' + ${#authentication.getPrincipal().getAvatarWebImageMapping()}}"
                     class="avatar img-thumbnail" alt="avatar"/>
                <h6>Upload a different photo…</h6>
                <input id="avatarImgInput" type="file" th:field="*{avatar}" accept="image/*" />
                <div th:if="${user.isAvatarSet()}">
                    <h6>… or delete the current one</h6>
                    <a th:href="@{/settings/removeAvatar(id = ${user.id})}" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>&nbsp;Delete
                    </a>
                </div>
            </div>
        </div>

        <!-- edit profile form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
            <h3>Personal info</h3>

            <div class="form-group">
                <label class="col-lg-3 control-label">Email</label>
                <div class="col-lg-8">
                    <input class="form-control" th:field="*{email}" type="email" required="required"
                           data-error="Invalid email"/>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">New password</label>
                <div class="col-md-8">
                    <input id="inputPassword" class="form-control" th:field="*{password}" value="" type="password"
                           data-minlength="6" data-error="Minimum of 6 characters"/>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Confirm password</label>
                <div class="col-md-8">
                    <input class="form-control" value="" type="password" data-match="#inputPassword"
                           data-match-error="Passwords do not match"/>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                    <input class="btn btn-primary" value="Save Changes" type="submit"/>
                    <span></span>
                    <input class="btn btn-default" value="Undo" type="reset"/>
                </div>
            </div>
        </div>

    </form>

    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

<script type="text/javascript" th:src="@{/js/fileinput.min.js}"></script>

<script>
    //<![CDATA[

    $(document).ready(function () {

        $("#avatarImgInput").fileinput({
            previewFileType: "image",
            browseClass: "btn btn-success",
            browseLabel: "Pick Image",
            browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
            removeClass: "btn btn-danger",
            removeLabel: "Delete",
            removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> ",
            showUpload: false,
            maxFileCount: 1,
            maxFileSize: 1024
        });

    });

    //]]>
</script>

</body>
</html>